.container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 1.5rem;
}

.subTitle {
    font-size: 3rem;
    color: #9aa1b0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    gap: 2rem;
    padding-top: 2.5rem;
    justify-content: space-evenly;
}

.artistsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .artistsGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bandcampContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
