.container {
    /* border: 1px solid red; */
    /* width: 200px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.lements {
    p {
        color: white;
    }

    ul li {
        color: pink;
    }

  

}