.container {
  margin: 0 auto;
  /* border: 4px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
